.wrapper {
  background: url("../images/surf_sunset.jpg");
  /*height: 550px;*/
  background-size: cover;
  padding: 150px 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.wrapper h1, .wrapper h2 {

}

.wrapper h2 {
  margin-bottom: 20px;
}